html.light {
  --sy-c-background: #f3f1eaff;
  --sy-c-foot-background: var(--sy-c-background);
  --sy-c-divider: var(--sy-c-background);
  --sy-c-foot-divider: var(--sy-c-background);
  --sy-c-text: #3d3929;
  --sy-c-light: var(--sy-c-text);
  --sy-c-heading: #535146;
  .light-logo {
    display: block;
    margin: 0 auto;
    width: 50;
    height: 50px;
  }
}

html.dark {
  --sy-c-background: #2d2c2c;
  --sy-c-foot-background: var(--sy-c-background);
  --sy-c-divider: var(--sy-c-background);
  --sy-c-foot-divider: var(--sy-c-background);
  --sy-c-text: #e5e5e2;
  --sy-c-light: var(--sy-c-text);
  --sy-c-heading: #ffffff;
  --fig-background-color: var(--sy-c-background);
  --primary-color: #da7757;
  --secondary-color: hwb(210 13% 13%);
  --accent-color:  #8373ca;
  .dark-logo {
    display: block;
    margin: 0 auto;
    width: 50;
    height: 50px;
  }
  .admonition.note {
    --color-1: rgb(37, 60, 80); /* background */
    --color-2: rgb(87, 177, 255, .3); /* top bar */
    --color-3: rgb(87, 177, 255); /* left accent */
    --color-4: rgb(75, 171, 255); /* title text */
  }
}

html[data-accent-color='tomato'] {
  --accent-9: #da7757;
}

.sphx-glr-thumbcontainer[tooltip]:hover::before,
.sphx-glr-thumbcontainer[tooltip]:hover::after {
    display: none;
}